header{
    transition-duration: 1s;
    padding: 1px;
    min-height:  14vh;
    background-color: rgb(155, 7, 7);
}
header:hover{
    scale: 1.2;
    transition-duration: 1s;
}
h1{
    text-align: center;
    font-size: 60px;
    color: white;
}
div{
    background-color: black;
    margin: auto;
    text-align: center;
}
a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
}
main{
    min-height: 72vh;
    background-color: white;
}
h2{
    text-align: center;
    font-size: 50px;
}
p{
    text-align: center;
    font-size: 25px;
}
img{
    border-radius: 40px;
    display: block;
    margin: auto;
    width: 1280px;
    height: 720px;
}
.legenda{
    color: rgb(58, 58, 58);
    font-size: 20px;
}
footer{
    min-height: 14vh;
    background-color: black;
}
.footerP{
    color: white;
    padding: 25px;
    text-align: start;
}